.initial-hide {
    display: none;
}

.yes-block {
    padding-right: 0px;
    padding-left: 0px;
    border: 1px solid #5cb85c;
}

p.p-yes {
    color: black;
    background-color: #00800033;
    text-align: left;
}

.no-block {
    padding-right: 0px;
    padding-left: 0px;
    border: 1px solid #ac2925;
    margin-left: 1%;
}

p.p-no {
    color: black;
    background-color: #ac292580;
    text-align: left;
}

.query-builder .rules-group-container {
    border: 1px solid #888888 !important;
    box-shadow: 5px 10px 18px #888888;
    background-color: transparent;
    border-radius: 0px;
}

.btn-container {
    margin-top: 2%;
}

#container .btn.btn-success {
    background: transparent;
    color: grey;
    border: 1px solid #888888;
    padding: 1px;
    border-radius: 0px;
    padding: 5px;
}

.rule-container, .form-control {
    border-radius: 0px !important;
}

#container .btn.btn-danger {
    background: transparent;
    color: #ac2925;
    border: 1px solid #ac2925;
    padding: 1px;
    border-radius: 0px;
    padding: 5px;
}

.conditions-section {
    margin-top: 2%;
    margin-bottom: 2%;
}

i.glyphicon-ok {
    background-color: #5cb85c;
    color: #ffff;
    padding: 6px;
    top: 0%;
}

i.glyphicon-remove {
    background-color: #ac2925;
    color: #ffff;
    padding: 3px;
    top: 0%;
}

.conditions-section .btn.btn-primary.btn-sub-condtion {
    background-color: transparent;
    border-color: transparent;
    color: #2e6da4;
    font-weight: bold;
    text-align: center;
}

#btn-create-rules {
    color: #28a745;
    background-color: transparent;
    background-image: none;
    border-color: #28a745;
    border-radius: 0px;
}

#btn-create-rules:hover {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-outline-primary {
    color: #007bff;
    background-color: transparent;
    background-image: none;
    border-color: #007bff;
    border-radius: 0px;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.action_select, add_more_actions_container {
    margin-bottom: 2%;
}

.action_select button {
    padding: 0px 12px;
    margin-top: -2px;
}

.select_action {
    margin-right: 2%;
}

.hidden {
    display: none;
}

.btn-clear-action {
    margin-left: 2%;
}

/* .conditions-section>.row-fluid {
    overflow-x: hidden;
    white-space: nowrap;
} */

.conditions-section>.row-fluid>.col-md-10 {
    display: inline-block;
    float: none;
}

#container {
    overflow-x: auto;
    white-space: nowrap;
}

.conditions-section {
    width: 100%;
    padding: 0px;
}